<template>
    <div class="mx-auto">
      <h1>Empty Page</h1>
    </div>
</template>

<script>
//import axios from 'axios'
export default {
  name:'Home',
}
</script>

<style lang="scss" scoped>

</style>