<template>
  <h1>AppLayout</h1>
  {{ user?.employee?.name }}
</template>
   
<script>
// import axios from 'axios'
import { apiService } from "../services/index";
import { AppService } from "../services/app/AppService";

export default {
  name: "AppLayout",
  data() {
    return {
      user: {},
    };
  },
  async created() {
    if (this.$cookies.get("token")) {
      apiService.defaults.headers.common[
        "Authorization"
      ] = `Bearer ${this.$cookies.get("token")}`;
      console.log(this.$cookies.get("token"));

      await AppService.getUser().then((res) => {
        console.log(res.data);
        this.user = res.data;
      });
    }
    //console.log(response);
  },
};
</script>
   
<style scoped>
</style> 