<template>
  <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
    <div class="container">
      <router-link class="navbar-brand" to="/home"> HR App </router-link>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Left Side Of Navbar -->
        <ul class="navbar-nav ml-auto"></ul>
        <!-- Right Side Of Navbar -->
        <ul class="navbar-nav mr-auto">
          <!-- Authentication Links -->
          <li class="nav-item">
            <router-link class="nav-link" to="/login">Login</router-link>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <main class="py-4 mt-3">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header">Login</div>
            <div class="card-body">
              <form @submit.prevent="handleSubmit">
                <div class="form-group row">
                  <label
                    for="email"
                    class="col-md-4 col-form-label text-md-right mb-4"
                    >E-Mail Address</label
                  >

                  <div class="col-md-6">
                    <input
                      id="email"
                      type="email"
                      class="form-control"
                      name="email"
                      v-model="email"
                      required
                      autocomplete="email"
                      autofocus
                    />
                  </div>
                </div>

                <div class="form-group row">
                  <label
                    for="password"
                    class="col-md-4 col-form-label text-md-right mb-4"
                    >Password</label
                  >

                  <div class="col-md-6">
                    <input
                      id="password"
                      type="password"
                      v-model="password"
                      class="form-control"
                      name="password"
                      required
                      autocomplete="current-password"
                    />
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-md-6 offset-md-4 mb-3">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        name="remember"
                        id="remember"
                      />
                      <label class="form-check-label" for="remember">
                        Remember Me
                      </label>
                    </div>
                  </div>
                </div>

                <div class="form-group row mb-0">
                  <div class="col-md-8 offset-md-4">
                    <button
                      type="submit"
                      class="btn btn-primary mt-1 mb-2"
                    >
                      Login
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
//import axios from 'axios';
//import apiService  from '../services/index'
import {authService} from "../services/auth/AuthService";
export default {
  name: "AuthLayout",
  data() {
    return {
      email: "",
      password: "",
    };
  },
  methods: {
    // register(){
      //   this.$store.dispatch('register',{
        //     email: this.email,
    //     password: this.password
    //   })
    //   .then(()=>{
      //      this.$router.push({name:'AppLayout'}) 
    //   })
    // }
    handleSubmit(){
      authService.login({email: this.email, password: this.password}).then((response) => {
      // const response=await axios.apiService.post('auth/login', {
      //       email:this.email,
      //       password:this.password
      //   });
      console.log(response.data.access_token);
        //localStorage.setItem('token',response.data.token,11479562)
        this.$cookies.set('token',response.data.access_token, response.data.expires_in);
       
        //console.log(response);
      this.$router.push({name:'AppLayout'});
    })
    .catch(err=>{
      console.log(err?.response?.data?.error);
    })

  },
}
}
          // login() {
          //   authService.login(this.email, this.password).then(() => {
          //       vue.cookie()
          //       setHeader('Authorization', res.data.access_token)
          //     this.$router.push({ name: "AuthLayout" });
          //   });
          // },
</script>

<style scoped>
button:focus,
button.btn:focus,
input:focus,
input.form-control:focus {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
</style>